BODY {
    padding: 1em;
    background: #FFF;
    }

A {
    color: hsl(200,90%,30%);
    }
    .external-link:before {
        content: '\2192';
        display: inline-block;
        margin-left: .2em;
        text-decoration: none;
        }
UL {
    margin: 0;
    padding: 0;
    }
    .depends + UL {
        margin-top: .5em;
        }
LI {
    list-style: none;

    &:before {
        content: "\2022";
        margin-right: .4em;
        color: rgba(0,0,0,.3);
        }
    }

TH {
    font-size: 1.2em;
    line-height: 3;
    }
TD {
    padding: .5em;
    vertical-align: top;
    }
    .column-heads TD {
        background: hsl(100,0%,93%);
        font-weight: bold;
        text-align: center;
        }
    .td-jira {
        min-width: 110px;
        }

H1,
H2,
H3,
H4 {
    margin: 0 0 .5em;
    }
    UL + H4 {
        margin-top: .5em;
        }

.l-wrapper {
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #DDD;
    }

.nav {
    margin-bottom: 1em;
    border-bottom: 1px solid #DDD;

    &__link {
        display: inline-block;
        padding: 1em;
        }
    }
    .current {
        background: hsl(20,100%,85%);
        color: hsl(20,100%,30%);
        }
/* Data */
.data__list {
    padding: 1em;
    }
    .data__item {
        display: none;
        }
    .data__item--visible {
        display: block;
        }
/* Cyr or noneCyr */
.users--undef {
    background: hsl(40,80%,92%);
    }
.users--cyr {
    background: hsl(100,60%,90%);
    }
.users--noneCyr {
    background: hsl(200,60%,90%);
    }

.jump-to-content {
    border-bottom: 1px dotted;
    cursor: pointer;
    }
