BODY {
    padding: 1em;
    background: #FFF;
    }

A {
    color: hsl(200,90%,30%);
    }
    .external-link:before {
        content: '\203a';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: .2em;
        background: hsla(200,90%,30%, .5);
        border-radius: 50%;
        vertical-align: top;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        line-height: .9;
        color: #FFF;
        }

:target {
    animation: bgcolor 1.5s;
    }

@keyframes bgcolor {
    from {
        background: gold;
    }
    to {
        background: transparent;
    }
}

UL {
    margin: 0;
    padding: 0;
    }
    .depends + UL {
        margin-top: .5em;
        }
LI {
    list-style: none;

    &:not(:last-child) {
        margin-bottom: .5em;
        }

    &:before {
        content: "\2022";
        margin-right: .4em;
        color: rgba(0,0,0,.3);
        }

    .td--jira & {
        display: inline-block;
        margin-right: 1.5em;
        }
        .td--jira &:before {
            content: none;
            }
    }

TH {
    font-size: 1.2em;
    line-height: 3;
    }
TD {
    padding: .5em;
    vertical-align: top;
    &:empty {
        padding: 0;
        }
    }
    .column-head {
        background: hsl(100,0%,93%);
        font-weight: bold;
        text-align: center;
        }
    .td--jira {
        border-bottom: 10px solid white;
        }

/* Headers */
H1,
H2,
H3,
H4 {
    margin: 0 0 .35em;
    }
    UL + H4 {
        margin-top: 1em;
        }

.wrapper {
    min-width: 900px;
    max-width: 1400px;
    margin: 0 auto;
    }

/* Nav */
.nav {
    margin-bottom: 1em;
    border: 1px solid #DDD;

    &__link {
        display: inline-block;
        padding: 1em;
        }
    }
    .current {
        background: hsl(20,100%,85%);
        color: hsl(20,100%,30%);
        }

/* Data */
.data__list {
    }
    .data__item {
        display: none;
        }
    .data__item--visible {
        display: block;
        }

/* Cyr or noneCyr */
.td--source {
    position: relative;
    padding-bottom: 2em;

    &:after {
        display: block;
        position: absolute;
        left: .3em;
        bottom: .3em;
        padding: .1em .4em;
        border-radius: 5px;
        font-style: italic;
        }
    }

.users--undef {
    background: hsl(40,80%,92%);
    .td--source {
        &:after {
            content: "undef";
            background: hsl(40,80%,70%);
            color: hsl(40,80%,35%);
            }
        }
    }

.users--cyr {
    background: hsl(100,60%,90%);
    .td--source {
        &:after {
            content: "cyr";
            background: hsl(100,60%,70%);
            color: hsl(100,60%,35%);
            }
        }
    }

.users--noneCyr {
    background: hsl(200,60%,90%);
    .td--source {
        &:after {
            content: "noCyr";
            background: hsl(200,60%,70%);
            color: hsl(200,60%,35%);
            }
        }
    }

.jump-to-content {
    border-bottom: 1px dotted;
    cursor: pointer;
    }
